<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- Font Awesome CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"/>
  </head>
  <body>
    <header>
      <section id="nav-bar">
        <!---<img class="menu" src="/images/menu_FILL0_wght400_GRAD0_opsz48.png" alt="Menu icon" />-->
        <a href="/">
          <img class="logo" src="./images/logo.png" alt="Logo for youtube" />
        </a>
        <input class="search" type="text" placeholder="Search" />
        <a href="/"><i class="fas fa-home icon"></i></a>
        <a href="/video"><i class="fas fa-film icon"></i></a>
        <a href="/audio"><i class="fas fa-music icon"></i></a>
      </section>
    </header>
<main>
  {{{body}}}
</main>

<footer>
  <div class="footer-content">
    <p>&copy; 2023 Audio Video. All Rights Reserved.</p>
  </div>
</footer>
  </body>
</html>