<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accessibility</title>
</head>

<main>

<body>
    <section class="inforContainer">
      <div class="container">
        <video controls title="Video player">
          <source src="/videos/video.mp4" type="video/mp4">
          <track kind="captions" label="English captions" src="/videos/videotxt.txt" srclang="en" default>
        </video>
      </div>
    </section>

</body>
  
</main>

</html>